html {
  background-color: #b1e9ff;
}

body {
  font-family: sans-serif;
  max-width: 750px;
  margin: 0 auto;
  color: #001f3f;
  background-color: #b1e9ffdd;
  box-shadow: 0 0 7px #001f3f22, 0 0 21px #001f3f22;
  padding: 30px;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  opacity: 0.7;
}

header {
  text-align: center;
  border-bottom: solid 1px #001f3f55;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  background-color: lightgoldenrodyellow;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}

h2 {
  font-size: 30px;
  text-align: center;
}

nav {
  text-align: center;
  margin-bottom: 50px;
}

section {
  margin-bottom: 70px;
}

article {
  display: flex;
  margin-bottom: 20px;
}

img {
  height: 200px;
  width: 250px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 1px 2px 3px #00000022, 1px 2px 9px #00000022;
}

article aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

article aside h3 {
  margin-bottom: 0;
}

footer {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  font-size: 0.9rem;
  text-align: center;
}

footer i {
  font-size: 30px;
}

.fa-envelope-square {
  color: #ff4136;
}

.fa-github-square {
  color: #24292e;
}

.fa-instagram-square {
  color: #85144b;
  background: -webkit-linear-gradient(#85144b, #ffdc00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-twitter-square {
  color: #7fdbff;
}

.fa-facebook-square {
  color: #0074d9;
}
